fieldset{
    background-color:darkred;
    border-color: black;
    border-radius: 20px;
    border-width: 20px;
    border-style: double;
    
}

fieldset:hover{
    background-color: orangered;
    border-style: groove;
    border-color:chartreuse;
    border-radius: 20px;
    border-width: 20px;
}

h1{
    text-align: center;
    font-size: xx-large;
    font-family:monospace;
    font-size: 40px;
    padding: 20px;
    color: rgba(202, 27, 15, 0.89);
    background-color: darkblue;
}

body {
    background-color:burlywood;
}


article{
    display: inline-block;
    padding-right: 250px;
    text-align: center;
}

#milas {
    background-color: crimson;
    padding: 12px;
    border-radius: 20px;
}

#milas:hover{
    background-color:tomato;
    padding: 12px;
    border-radius: 20px;
    border-color: aliceblue;
    border-width: 20px;
    border-style: groove;
}

#bifes {
    background-color: crimson;
    padding: 12px;
    border-radius: 20px;
}

#bifes:hover {
    background-color:tomato;
    padding: 12px;
    border-radius: 20px;
    border-color: aliceblue;
    border-width: 20px;
    border-style: groove;
}

#churras {
    background-color: crimson;
    padding: 12px;
    border-radius: 20px;
}

#churras:hover{
    background-color:tomato;
    padding: 12px;
    border-radius: 20px;
    border-color: aliceblue;
    border-width: 20px;
    border-style: groove;
}